.container {
  background-image: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}

.genericsText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  /* font-size: 200px; */
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 9rem;
  text-shadow: 2px 2px 4px black;
}
.tourText {
  width: 100%;
  margin-top: 200px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-shadow: 2px 2px 4px black;
}
.card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-bottom: 32px;
}

.cardImage {
  /* margin-left:32%; */
  margin: auto;
  margin-top: 100px;
  position: relative;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cardContent {
  padding: 16px;
  text-align: center;
}

.tourName {
  font-size: 24px;
  margin: 8px 0;
}

.tourDescription {
  font-size: 16px;
  margin-bottom: 16px;
}

.tourDates,
.tourVenue {
  font-size: 14px;
  margin-bottom: 8px;
}

.tourDates strong,
.tourVenue strong {
  font-weight: bold;
}

.tourButton {
  display: inline-block;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tourButton:hover {
  background-color: #ff9800;
}
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .genericsText {
    font-size: 4rem;
  }
}
